.MouseCursor {
    cursor: none;
}

.MouseCursor .MouseCursorElement {
    position: fixed;
    background: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
    z-index: 999;
}

.MouseCursor .MouseCursorElement.isAnimated {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    transition-property: all;
    transform: translate(-50%, -50%);
}


